In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.read_csv("Advertising.csv")

In [4]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
data = data.drop(["Unnamed: 0"], axis=1)

In [6]:
data.isnull().any()

TV           False
Radio        False
Newspaper    False
Sales        False
dtype: bool

In [7]:
drop = ["Sales"]

def extractData(data):
    x = data.drop(drop, axis=1)
    y = data["Sales"]
    
    return x, y

x,y = extractData(data)

In [8]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [9]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Sales, dtype: float64

In [10]:
from sklearn.cross_validation import train_test_split

C:\Users\quantum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
linReg = LinearRegression()
linReg.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
linReg.score(x_train, y_train)

0.8873997664797107

In [17]:
linReg.score(x_test, y_test)

0.9288609285248163

In [18]:
y_predicted = linReg.predict(x_test)

In [19]:
y_predicted

array([12.5893486 ,  6.57466309, 15.51569107,  9.76164334, 14.08560255,
       20.17829056, 12.32800513, 19.82963814, 14.87331552, 10.31222767,
       10.12322859, 20.67028922,  6.53084946,  6.01905104,  3.57991965,
       11.29258057, 13.14446753, 15.95278361,  7.79731662, 18.014187  ,
        7.55638624, 11.66008132, 10.74032853,  7.35587039, 22.10561982,
       10.2894642 , 10.54321563, 14.89639115, 10.0460676 , 20.54318186,
        9.63429763, 21.12541362, 24.01131416,  6.77913882, 15.12282694,
       19.16513974, 18.44896906, 19.54139302, 16.23003217,  9.43340198])

In [20]:
y_test.shape

(40,)

In [21]:
error = y_predicted - y_test

In [22]:
error

50     1.189349
127   -2.225337
37     0.815691
149   -0.338357
19    -0.514397
104   -0.521709
179   -0.271995
53    -1.370362
162   -0.026684
158    3.012228
82    -1.176771
185   -1.929711
182   -2.169151
189   -0.680949
108   -1.720080
31    -0.607419
4      0.244468
178    4.152784
121    0.797317
20     0.014187
172   -0.043614
88    -1.239919
166    2.740329
170   -1.044130
128   -2.594380
72     1.489464
180    0.043216
26    -0.103609
144   -1.353932
52    -2.056818
79    -1.365702
93    -1.074586
183   -2.188686
119    0.179139
85    -0.077173
133   -0.434860
184    0.848969
139   -1.158607
95    -0.669968
140   -1.466598
Name: Sales, dtype: float64

In [23]:
rss = sum(error**2)

In [24]:
rss

88.12051916411407

In [25]:
## Increase Complexity

In [26]:
x_poly = x**2

In [28]:
x.head()

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1
2   17.2   45.9       69.3
3  151.5   41.3       58.5
4  180.8   10.8       58.4

In [29]:
x_poly.head(2)

         TV    Radio  Newspaper
0  52946.01  1428.84    4788.64
1   1980.25  1544.49    2034.01

In [30]:
x.head(2)

      TV  Radio  Newspaper
0  230.1   37.8       69.2
1   44.5   39.3       45.1

In [31]:
x_all = pd.concat([x, x_poly], axis=1)

In [32]:
x_all.head(2)

      TV  Radio  Newspaper        TV    Radio  Newspaper
0  230.1   37.8       69.2  52946.01  1428.84    4788.64
1   44.5   39.3       45.1   1980.25  1544.49    2034.01

In [33]:
x_trainPoly, x_testPoly, y_trainPoly, y_testPoly = train_test_split(x_all, y, test_size = 0.2, random_state = 123)

In [34]:
x_trainPoly.head(2)

        TV  Radio  Newspaper        TV   Radio  Newspaper
24    62.3   12.6       18.3   3881.29  158.76     334.89
150  280.7   13.9       37.0  78792.49  193.21    1369.00

In [35]:
linRegPoly = LinearRegression()
linRegPoly.fit(x_trainPoly, y_trainPoly)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
linRegPoly.score(x_trainPoly, y_train)

0.9114342808427246

In [37]:
linRegPoly.score(x_testPoly, y_test)

0.9364518402492714